<% layout('layout') -%>
<h2>Hello <%= user.username %>!</h2>
<form method="POST">
  <label>Supporter Level:</label>
  <select name="level">
    <option value="1" <%= user.level == 1 ? 'selected' : '' %>>Level 1</option>
    <option value="2" <%= user.level == 2 ? 'selected' : '' %>>Level 2</option>
    <option value="3" <%= user.level == 3 ? 'selected' : '' %>>Level 3</option>
  </select><br>

  <label>Platforms (check all that apply):</label><br>
  <input type="checkbox" name="platforms" value="patreon" <%= user.platforms.includes('patreon') ? 'checked' : '' %>> Patreon<br>
  <input type="checkbox" name="platforms" value="twitch" <%= user.platforms.includes('twitch') ? 'checked' : '' %>> Twitch<br>
  <input type="checkbox" name="platforms" value="youtube" <%= user.platforms.includes('youtube') ? 'checked' : '' %>> YouTube<br>
  <input type="checkbox" name="platforms" value="booster" <%= user.platforms.includes('booster') ? 'checked' : '' %>> Discord Boost<br>

  <button type="submit">Save</button>
</form>
<a href="/logout">Logout</a>
